.outerContainer {
    margin-block: 2rem;
}

.innerContainer {
    margin: auto;
    width: 85%;
}

.imageContainer {
    width: 50%;
    display: flex;
    margin-top: 20px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    width: 75%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: solid;
    border-width: 2px;
    border-color: #5e81ac;
    padding-left: 1rem;
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: 700;
    color: #2e3440;
}

.cardAuthor {
    font-size: 1.2rem;
    font-style: italic;
    color: #4c566a;
}

.cardPrice {
    font-size: 1.5rem;
    font-weight: 800;
    color: #5e81ac;
}

.cardButtonContainer {
    display: flex;
    justify-content: flex-start;
}

.additionalInfo {
    color: #d08770;
    font-size: 1.2rem;
    font-weight: 700;
}